
    <div id="demobox">
        UI SKILL APP
        </div>
<div id="content">
   <h2>Quiz Instructions</h2>
   <ul>
    <li>Click the start button at the bottom of the page to start the sample quiz</li>
    <li> Choose correct answer in radio button and click next button to view next question</li>
    <li>You can submit anytime in middle</li>
    <li>Once you submit the test you will be redirected to result page</li>
    <li> You have to finish the test within the time</li>
    <li> No negative score</li>
  
   
   </ul>
   <button (click)='startQuiz()' >Start Quiz</button>
  
</div>


























